@charset "UTF-8";
@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);
}

body{
    background-color: rgb(125, 238, 125);
    margin: 0px;
    padding-top: 0px;
}

header{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgb(129, 213, 129),green, rgb(1, 83, 1));
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

header > h1{
    text-align: center;
}

header > article{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

header > article > p{
    padding: 0px;
    margin: 2px;
}

header > nav > a{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
    text-align: right;
    font-weight: bold;
}

main{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
}

main > h2{
    font-family: 'idroid', Arial, sans-serif;
    color: darkgreen;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
}

main > p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    margin: 10px;
    text-align: justify;
}

main > h3{
    padding: 10px;
    margin: 10px;
    font-family: 'idroid', Arial, sans-serif;
    color: darkgreen;
    background-image: linear-gradient(to right, rgb(129, 213, 129), rgba(152, 211, 152, 0.005));
}

main > p > a{
    text-decoration: none;
    font-weight: bold;
    color: green;
}

main > picture > source{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main > picture > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main#video{
    background-color: green;
    margin-top: 0%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-top: 0px;
}

main#video > iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main#lista{
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    padding-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main#lista > p > a{
    text-decoration: none;
    font-weight: bold;
    color: green;
}

main#lista > article{
    background-color: lightgreen;
    border-radius: 10px;
}

main#lista > article > h4{
    background-color: darkgreen;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main#lista > article > p{
    padding: 10px;
    margin: 10px;
}

main#lista > article > ul{
    display: inline-block;
    margin: 10px;
    margin-left: 100px;
    padding: 10px;
    list-style-type: none;
}

main#lista > article > ul#lista01{
    margin-right: 60px;
}
ul.lista li::before {
    color: black;
    content: "✔"; 
    margin-right: 8px;            
}

main#lista > article > p > a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(1, 112, 1);
}

footer{
    background-color: darkgreen;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer > p{
    margin: 0px;
}

footer > p > a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
}